* {
	margin: 0;
	padding: 0;
}

 #goCenterPls {
	margin-top: 45vh;
}

.rotate{
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.rotate.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#divHomePage, #divPageGetComputer{
	height: 105vh;
}

.btn-purple{
	background-color: #965bcd;
	color: white;
}

/*getcomputer.html*/

.m-size{
	width: 30vw;
}