* {
	margin: 0;
	padding: 0;
}

#goCenterPls {
	margin-top: 45vh;
}

#barPlsWork {
  width: 10%;
  height: 30px;
  background-color: skyblue;
  text-align: center;
  line-height: 30px;
  color: white;
}